<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://osb-proff-company-lookup.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d9fe2984-1e44-4c7e-ac8c-d435c8281b3a/resourceGroups/dev-crm-rg/providers/Microsoft.Web/sites/OSB-proff-company-lookup</ResourceId>
    <UserName>$OSB-proff-company-lookup</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://osb-proff-company-lookup.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>